
*{
	padding: 0; 
	margin: 0;
	font-family: sans-serif;
}


/*ESTILOS DE INDEX HOME*/

#contenedor{
    background-image: url(../img/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-left: 0px;
}
.logo-index{
    width: 100px;
    padding-top: 67px;
}

.mi-btn{/**clase que dara estilo al primer boton****/
	border: 2px solid white;
	bottom: 30px;
	position: absolute;
	border-radius: 5px;
    font-size: 1.4em;
    width: 40%;
    left: 10%;
    height: 40px;
    
    padding-bottom: 55px;
    text-transform: none;
    background-color: rgba(59, 63, 62, 0.59);
    margin-left: 41px;
    margin-left: -10px;
}

.sign{ /***clase que dara estilo al segundo boton****/
	margin-left: 45%;
    background: purple;/**Dara un color morado a los navegadores que no admiten degradados**/
    background: -webkit-linear-gradient(left, blue , purple);
    background: -o-linear-gradient(right, blue , purple);
    background: -moz-linear-gradient(right, blue , purple);
    background: linear-gradient(to right, #1e1e48 , purple);/**Da color en degrade al segundo boton**/
}

/******************************************FIN SECCION HOME****************************************/
/*SECCION SIGN UP TELEFONO*/

.flecha-index2{
	font-size: 50px;
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
}
.pink{
	background-color: #ff00bf;
}
#p-titulo-index2{
	font-size: 40px;
	margin-left: -30px;
}
.btn-index3, .btn-index2{
	position: relative;
    bottom: 5px;
    width: 100%;
    background-color: grey;
    color: white;
    border: none;
    height: 60px;
    line-height: 54px;
    font-size: 26px;
}
hr{
    border: 1px solid grey;
    margin-bottom: 20px;
}

.siguiente{
	margin-top: 80px;
}

#input-numero{
	width: 40%;
	height: 49px;
	border: 1px solid #d8dfe4;
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
}
.boton-numero{
	border-bottom-left-radius:3px;
	border-top-left-radius: 3px;
	padding: 15px;
	border-style: none;
	margin-right: 0; 
	margin-left: 20%;
}
.fa-angle-down{
	padding-left: 5px;
}
.flags{
	width: 40px;
	padding-right: 5px;
}

.input-field{
	width: 10%;
}

.controls{
	position: absolute;
	z-index: 200;
	bottom: 20px;
	left: 20px;
	border-radius: 10px;
}

.flags{
    width: 138px;
    padding-right: 5px;
    padding-left: 7px;
    margin: 24px;
}

ul li{
    font-size: 62px;
    padding-bottom: 24px;
}

ul li .paises{
    position: relative;
    bottom: 39px;
}

.close{
    padding-left: 628px;
    font-size: 46px;
}
/***************************************FIN SECCION USUARIO****************************************/
/*INDEX 3 USUARIO*/
.input1-index3{
	border: grey;
}
.join{
	text-align: center;
}
.material-icons {
	padding-right: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    color: black;
}
.material-icons1 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    color: #000;
}
::placeholder{
	padding-left: 45px;
	text-indent: 10px;
}

.imp{
	text-indent: 57px;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
}
.imp2{
	text-indent: 57px;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}
.imp3{
	text-indent: 57px;
	border: 1px solid #ccc !important;
}
.in{}
.row .col {
    padding: 0 !important;
}
.bloque{text-align:center;}
.bloque2{text-align:left;}

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #ccc !important;
   box-shadow: none !important;
 }




#found{
	background-color: #AC58FA ;
	color: white;
	width: 90%;
	padding: 10px;

}
.menu{
	position: relative;
	top: 30px;
	z-index: 200;
	left: 20px;
	width: 50px;
	height: 50px;
	background: none;
	border: 1px solid black;
}
.menu img{
	width: 49px; 
	height: 49px;
	border: 2px solid white;
}

.row .col{
	padding: 0;
}
.logo img{
	width: 18%;
	height: auto;
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 40%;
}

.gift{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 200;
	width: 50px;
	height: 50px;
	background: white;
	border: 2px solid grey;
}
.fa-gift{
	color: #0B0B61 ;
}

/*ESTILOS DE INDEX SIGN USUARIO*/
.alert{
	width: 100%;
	background: rgba(254, 255, 44, 0.2);
	color: red;
	position: fixed;
	top: 0;
	text-align: center;
	margin-left: -10px

}


/*ESTILOS DE INDEX MAPS*/

#map{
	width: 100%;
	height: 100vh;
	
}
.controls{
	position: absolute;
	z-index: 200;
	bottom: 20px;
	left: 20px;
	border-radius: 10px;
}

#destino {
	background-color: #fff;
	font-family: Roboto;
	border-radius: 10px;
	bottom: 60px;
	padding-left: 20px;
	width: 86%;
}

#found{
	background-color: #AC58FA;
	color: white;
	width: 90%;
	padding: 10px;
	
}
.menu{
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 20px;
	width: 50px;
	height: 50px;
	background: none;
	border: none;
}
.menu img{
	width: 49px; 
	height: 49px;
	border: 2px solid white;
}

.row .col{
	padding: 0;
}
.logo img{
	width: 18%;
	height: auto;
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 40%;
}

.gift{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 200;
	width: 50px;
	height: 50px;
	background: white;
	border: 2px solid grey;
}
.fa-gift{
	color: #0B0B61;
}



/*ESTILOS DE INDEX PROFILE*/
.nav-index5{
	background-color: #c4ccdf;
}
.btn-index5{
	background-color: #cccdce;
	color: black;
	margin-top: 20px;
}
.fa-index5{
	margin-left: 20px;
	margin-top: 15px;
}
.flow-text-index5{
	background-color: #cccdce;
}
.texto-index5{
	margin: 10px 0;
}
.caja-vacia-index5{
  background-color: #c4ccdf;
  margin-bottom: 0;
}
.materialboxed{
  width: 100%;
}
.card-content{
	text-align: center;
	padding: 10px;
}
.changes{
	background-color: #ff00bf;
	color: white;
	font-weight: bolder;
	width: 70%;
	border: none;
	height: 40px;
	margin-bottom: 50px;
}
input{ /*inputs sin bordes*/
	border:none;
}
