
*{
	padding: 0; 
	margin: 0;
}


/*ESTILOS DE INDEX HOME*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#contenedor{
    background-image: url(../img/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    border: 2px solid #BD023B;
    width: 100%;
    padding-left: 0px;
}

.logo-index{
    width: 100px;
    padding-top: 67px;
}

.contenedor-logo{
    height: 200px;
}

.row .col{
    float: none;
}

.contenedor-primer-boton{
    display: inline-block;
}

.contenedor-segundo-boton{
   margin: 0;
}

.btn-mi-uno{/**clase que dara estilo al primer boton****/
	position: absolute;
	border: 2px solid white;
    bottom: 12%;
    left: 7%;
    font-size: 36px;
    height: 58px;
    width: 190px;
    right: 24px;
    padding-left: 0;
    text-transform: none;
    background-color: rgba(59, 63, 62, 0.59);
    margin-left: 41px;
}

.btn-mio-dos{ /***clase que dara estilo al segundo boton****/
	position: absolute;
	border: 2px solid white;
    bottom: 12%;
    right: 20%;
    padding: 4px;
    font-size: 36px;
    width: 190px;
    height: 58px;
    text-transform: none;
    background: purple;/**Dara un color morado a los navegadores que no admiten degradados**/
    background: -webkit-linear-gradient(left, blue , purple);
    background: -o-linear-gradient(right, blue , purple);
    background: -moz-linear-gradient(right, blue , purple);
    background: linear-gradient(to right, #1e1e48 , purple);/**Da color en degrade al segundo boton**/
}



.btn-index3{
	position: relative;
	bottom:5px;
	width: 100%;
	background-color: #ff00bf;
	color: white;
	border: none;
	height: 60px;
    line-height: 54px;
    font-size: 26px;
}
.input1-index3{
	border: grey;
}
.join{
	text-align: center;
}
.material-icons {
	padding-right: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    color: black;
}
.material-icons1 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    color: #000;
}
::placeholder{
	padding-left: 45px;
	text-indent: 10px;
}
hr{
    border: 1px solid grey;
}
.imp{
	text-indent: 57px;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
}
.imp2{
	text-indent: 57px;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}
.imp3{
	text-indent: 57px;
	border: 1px solid #ccc !important;
}
.in{}
.row .col {
    padding: 0 !important;
}
.bloque{text-align:center;}
.bloque2{text-align:left;}

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #ccc !important;
   box-shadow: none !important;
 }


/*ESTILOS DE INDEX SIGNUP*/
#input-numero{
	position: relative;
	right: 3px;
	width: 40%;
	height: 49px;
	border: 1px solid #d8dfe4;
	background-color: whitesmoke;
	margin-left: 0;
}
.boton-numero{
	border-bottom-left-radius:3px;
	border-top-left-radius: 3px;
	padding: 15px;
	border-style: none;
	margin-right: 0; 
	margin-left: 20%;
}
.fa-angle-down{
	padding-left: 5px;
}
.flecha-index2{
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}
#new-div{
	padding-right: 20%;
}
#p-titulo-index2{
	font-size: 40px;
}

img{
	width: 40px;
	padding-right: 5px;
}
.icon{
	background-color: red;
}
.input-field{
	width: 10%;
}

.controls{
	position: absolute;
	z-index: 200;
	bottom: 20px;
	left: 20px;
	border-radius: 10px;
}

img{
    width: 138px;
    padding-right: 5px;
    padding-left: 7px;
    margin: 24px;
}

ul li{
    font-size: 62px;
    padding-bottom: 24px;
}

ul li .paises{
    position: relative;
    bottom: 39px;
}

.close{
    padding-left: 628px;
    font-size: 46px;
}
#found{
	background-color: #AC58FA ;
	color: white;
	width: 90%;
	padding: 10px;

}
.menu{
	position: relative;
	top: 30px;
	z-index: 200;
	left: 20px;
	width: 50px;
	height: 50px;
	background: none;
	border: 1px solid black;
}
.menu img{
	width: 49px; 
	height: 49px;
	border: 2px solid white;
}

.row .col{
	padding: 0;
}
.logo img{
	width: 18%;
	height: auto;
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 40%;
}

.gift{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 200;
	width: 50px;
	height: 50px;
	background: white;
	border: 2px solid grey;
}
.fa-gift{
	color: #0B0B61 ;
}

/*ESTILOS DE INDEX SIGN USUARIO*/
.alert{
	width: 100%;
	background: rgba(254, 255, 44, 0.2);
	color: red;
	position: fixed;
	top: 0;
	text-align: center;
	margin-left: -10px

}


/*ESTILOS DE INDEX MAPS*/

#map{
	width: 100%;
	height: 100vh;
	
}
.controls{
	position: absolute;
	z-index: 200;
	bottom: 20px;
	left: 20px;
	border-radius: 10px;
}

#destino {
	background-color: #fff;
	font-family: Roboto;
	border-radius: 10px;
	bottom: 60px;
	padding-left: 20px;
	width: 86%;
}

#found{
	background-color: #AC58FA;
	color: white;
	width: 90%;
	padding: 10px;
	
}
.menu{
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 20px;
	width: 50px;
	height: 50px;
	background: none;
	border: none;
}
.menu img{
	width: 49px; 
	height: 49px;
	border: 2px solid white;
}

.row .col{
	padding: 0;
}
.logo img{
	width: 18%;
	height: auto;
	position: absolute;
	top: 30px;
	z-index: 200;
	left: 40%;
}

.gift{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 200;
	width: 50px;
	height: 50px;
	background: white;
	border: 2px solid grey;
}
.fa-gift{
	color: #0B0B61;
}



/*ESTILOS DE INDEX PROFILE*/